.DS_Store
.idea/
*.pptx
Unit05_Bootstrap/Day04/img/F07VBChampions-Coed-AznBallers.JPG
Unit05_Bootstrap/Day04/img/bakery-slide2.jpg
Unit05_Bootstrap/Day04/img/man-notes-macbook-computer.jpg
Unit05_Bootstrap/Day04/img/sparkling_design-HD.jpg
Unit05_Bootstrap/Day04/img/startup-photos-lady.jpg
