<!DOCTYPE html>
<html ng-app="basicApp">
<head>
    <title>Scopeless Angular App</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="style.css">

</head>
<body>

    <div class="container">

        <h2>$scope-less</h2>

        <div class="alert alert-success">
            <input type="text" ng-model="sometext" />
            <h4>sometext: {{ sometext }}</h4>
            <button ng-click="doSomething()">Do It!</button>
        </div>

        <div ng-controller="basicController as bc1" class="alert alert-success">
            <h3>basicController as bc1</h3>
            <input type="text" ng-model="bc1.sometext" />
            <h4>bc1.sometext: {{ bc1.sometext }}</h4>
            <button ng-click="bc1.doSomething()">Do It!</button>
        </div>

        <div ng-controller="basicController as bc2" class="alert alert-success">
            <h3>basicController as bc2</h3>
            <input type="text" ng-model="bc2.sometext" />
            <h4>bc2.sometext: {{ bc2.sometext }}</h4>
            <button ng-click="bc2.doSomething()">Do It!</button>
        </div>

    </div>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>

    <script type="text/javascript" src="controller.js"></script>

</body>
</html>
